<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556527230052-216sqah3vnp50tf4q5omn8d2i88lrfcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556527230052-216sqah3vnp50tf4q5omn8d2i88lrfcj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556527230052-cubk6qu7klltlievknrfgep2129chhrt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmJlE34DoVGFedgKWs97vHl25cdlmSboE</string>
	<key>GCM_SENDER_ID</key>
	<string>556527230052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.apsy.cuethecurves</string>
	<key>PROJECT_ID</key>
	<string>aps-cueoncurves-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>aps-cueoncurves-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556527230052:ios:35d9177f1e40901b821371</string>
</dict>
</plist>